@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar{
    background-color: rgb(22, 72, 99) !important;
}

.navbar-brand:hover{
    background-color: lightblue;
}

.footer{
    background-color: rgb(22, 72, 99) !important;
}

.column{
    color: black;
}

main{
    margin-left: 50px;
    margin-right: 50px;
}

.copyright{
    color: white !important;
}

.cook{
    color: white !important;
}

.social{
    color: white !important;
}

.contact{
    color: white !important;
}

.copyright:hover{
    color: black !important;
}

.cook:hover{
    color: black !important;
}

.social:hover{
    color: black !important;
}

.contact:hover{
    color: black !important;
}

